body{
    margin: 50px;
}
.adjust{
    padding:60px;
}
button{
    margin:20px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width:120px;
    border-radius: 3px;
    margin-top:20px;
    font-weight: 700;
    text-decoration: none;
    background-color:#059862;
    margin-left:4px;
}
td{
    font-size:18px;
}

