.body{
    margin:0;
    padding:0;
}
.form{
    margin-top:150px;
    height:300px;
    width:300px;
    background:rgb(128, 160, 81);
    padding-left:100px;
    padding-right:-100px;
}
.container{
    display:flex;
    justify-content:center;
}
.btn-primary{
    margin-top:40px;
    height:50px;
    width:200px;

}
input{
    width:200px;
    height:30px;
}